<template>
  
  <div> 
    <p class="loginText">
    LOGIN here.
    </p>
   
    <hr>
    {{ this.$root.$children[0].LOGIN.user }}
     <hr>
    {{ this.$root.$children[0].LOGIN.password }}
     <hr>
    {{ this.$root.$children[0].LOGIN.token }}
  </div>

</template>
<script>

export default {
  name: 'LoginOld', 
  created: function (){   
    console.log("created in loginOld");
  },
  mounted: function (){
    console.log("mounted in loginOld");
  }
}
</script>

<style scoped>
.loginText{
    font-size: 35px;
    color: red;
    text-align: center;
    position: relative;
    top:30px;
    text-shadow: 2px 2px 2px gray;
}
</style>