<template>
<div class="container-fluid fullscreen">
   <div class="d-flex flex-row bg-secondary">
        <div class="p-2 bg-info one">          
           <mainx-left>  </mainx-left>
        </div>
       
        <div class="container-fluid">
         <div class="p-2 bg-warning two">Gestor Delivery</div>
         <!--<div class="p-2 bg-info three">Flex item 3</div>-->
          <mainx-right>  </mainx-right>
        </div> 
        
    </div>
</div>
</template>

<script>

import MainxLeft from '@/components/MainxLeft' 
import MainxRight from '@/components/MainxRight' 
export default {
  name: 'Mainx',
  components: {MainxLeft, MainxRight}, 
}
</script>

<style scoped>
a {
  color: black;
}
.one {
    min-width:15%;
    height:99vh;
    padding-top: 20px;   
    background: rgb(255, 0, 0);   
}
.two {
    min-width:80%;
    background: darkblue !important;
    color :white !important
}
.three {
    min-width:85%;
    height:94vh;
    background: rgb(30, 158, 158);    
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: azure; /* Just to visualize the extent */
  border: 1px solid black;
}

</style>