<template>
  <p class="loginText">
    LOGINZ
  </p>
</template>
<script>
debugger
export default {
  name: 'Login'
}
</script>
<style scoped>
.loginText{
    font-size: 35px;
    color: red;
    text-align: center;
    position: relative;
    top:30px;
    text-shadow: 2px 2px 2px gray;
}
</style>
